<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="/home/ssanch/desa/logs/nlog/internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target name="logfile"
        xsi:type="File"
        fileName="C:\Users\ssanch\Documents\MyCode\UsersAdmin.log"
		layout="${longdate}|${level:uppercase=true}|${logger}${aspnet-TraceIdentifier}|${message} ${exception:format=message}"
		/>

		<target name="logfileError"
		xsi:type="File"
		fileName="C:\Users\ssanch\Documents\MyCode\UsersAdminError.log"
		layout="${longdate}|${level:uppercase=true}|${logger}${aspnet-TraceIdentifier}|${message} ${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}"
        />

		<!--
        <target name="logMethodfile" 
            xsi:type="File" 
            fileName="/home/ssanch/desa/logs/nlog/OneMethod.log" 
            layout="${longdate}|${level:uppercase=true}|${logger}${aspnet-TraceIdentifier}|${message}"
        />
         -->

		<target name="logconsole" xsi:type="Console" />

		<target xsi:type="Debugger" name="debuglog" layout="${message}" />
	</targets>
	<rules>
		<!--
        <logger name="*" minlevel="Trace" writeTo="logMethodfile">
            <filters defaultAction="Ignore">
                <when condition="contains('${message}', 'ZeroToError')" action="LogFinal" />
            </filters>
        </logger>
        -->
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Warn" writeTo="logfileError" />
		<logger name="*" minlevel="Trace" writeTo="debuglog" />
	</rules>
</nlog>